@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* 
commont things */

* {
    font-family: 'Poppins', sans-serif;

}

body {
    margin: 0;
}

/* Heading with banner */
header {
    display: flex;
    border-radius: 30px;
    color: #ffffff;
    padding-top: 20px;
    margin: 50px 135px;
    background-color: #161616;
}

.half {
    width: 50%;
}

.header {

    text-align: left;
    padding-top: 111px;
    padding-bottom: 111px;
    padding-left: 106px;
}

.header-bannar {
    align-self: flex-end;
}

.header-bannar img {
    width: 581px;
    height: 613px;
}

.headTitle {
    font-size: 70px;
    font-weight: 700;
}

.header-article {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 46px;
}

.links {
    text-decoration: none;
    padding: 10px 25px;
    background-color: #DD0000;
    color: #ffffff;
    border-radius: 7px;
}

/* animation part  */
@keyframes arrow-anime {
    0% {


        transform: translate(0px, 0px);
    }

    40% {


        transform: translate(3px, 0px);

    }

    70% {


        transform: translate(6px, 0px);
    }


    100% {


        transform: translate(10px, 0px);

    }
}

@keyframes back-anime {
    0% {
        background-color: rgb(239, 0, 0);
    }

    50% {


        background-color: rgb(12, 56, 229);



    }

    70% {


        background-color: hsl(94, 100%, 50%);

    }


    100% {

        background-color: rgb(12, 56, 229);

    }
}

header .links>i {
    animation: arrow-anime 1s ease-in 2s infinite normal;
}


header .links {
    animation: back-anime 3s ease-in 1s infinite normal;
}

/* -------
container in the main part 
--------- */
.container {
    display: flex;
    margin: 130px 140px;
    justify-content: center;

}

/*----------
 options 
 
 ---------*/
.options {
    width: 312px;
    height: 312px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 0px 24px;
    flex-basis: 312px;
    flex-grow: 0;
    flex-shrink: 0;


}

.button {
    padding: 17px 39px;

    background-color: white;
    margin: 15px 30px;
    border-radius: 10px;
    text-align: center;
}

.button a {
    text-decoration: none;
    color: black;
}

.cbutton {
    background-color: #DD0000;

}

.cbutton a {
    color: white;
}

/* ---contentBox -------*/

.contentBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.content-btn {
    font-size: 16px;
    font-weight: 500;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
}

.card-article h3 {
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}

.duration {
    color: #161616;
    opacity: 70%;
}

.duration span {
    padding-right: 30px;
}

.img-parts {
    width: 252px;
    height: 56.18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}


.img-parts>div>img {
    width: 93.04px;
    height: 54.42px;
}

.vs {
    width: 20px;
    margin: 0 auto;
}

.matchPara {
    text-align: center;
}

.Cell {
    padding: 53px 30px;
    border: 1px solid #E8E8E8;
}

.matchPara h4 {
    font-size: 20px;
}

.matchPara p {
    color: #4D4D4D;
}

.viewall {
    text-align: center;
    margin: 90px;
    display: none;
}


/* footer 
 */
footer {
    background-color: #161616;
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 130px;
}

.goal {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}

footer hr {

    width: 1310px;
    opacity: 15%;

}



.footer-links a,
.media a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    padding: 0px 25px;
    font-weight: 500;
}

.media,
.footer-links {

    padding-bottom: 30px;
}

/* responsive for phone*/
@media only screen and (max-width:688px) {


    header {

        flex-direction: column;
        margin: 40px 20px;
        align-items: center;


    }

    .half {
        width: 70%;
    }

    .header {
        padding: 28px 53px;
        text-align: center;



    }

    .header-bannar {
        align-self: center;
        text-align: center;
    }

    .headTitle {
        font-size: 22px;
        text-align: center;
    }

    .header-article {
        font-size: 14px;
        width: 258px;
        height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }


    .header-bannar img {
        width: 233px;
        height: 245px;
    }

    .container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 0;

    }

    .options {
        background-color: white;
    }

    .options .button {
        border: 1px solid rgba(128, 128, 128, 0.52);

    }

    .contentBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .contentBox .content {
        border: 1px solid rgba(128, 128, 128, 0.319);
        border-radius: 10px;
        padding: 10px;
    }

    .footer-links a {
        display: block;
        padding-top: 9px;
    }

}


/* for tablet */

@media only screen and (min-width:689px) and (max-width:992px) {

    header {
        margin: 50px;
    }

    .header {
        padding: 28px 30px;
        text-align: left;
        margin-bottom: 30px;


    }

    .headTitle {
        font-size: 40px;

    }

    .header-article {
        font-size: 14px;
        margin-bottom: 20px;

    }

    .header-bannar img {
        width: 233px;
        height: 245px;
    }

    .container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 0;
        margin: 70px 50px;

    }

    .options {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: auto;
        background-color: white;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;

    }

    .options .button {
        border: 1px solid rgba(128, 128, 128, 0.52);
        padding: 17px 28px;
        margin: 20px;
    }

    .contentBox {
        grid-template-columns: repeat(2, 1fr);
    }

    .contentBox .content {
        border: 1px solid rgba(128, 128, 128, 0.319);
        border-radius: 10px;
        padding: 10px;
    }

    .viewall {
        display: block;
    }

    .footer-links {
        padding-left: 70px;
        padding-right: 70px;
    }
}